/* Yasmin Siqueira Lobo */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f5e9; /* Fundo verde claro */
}

.upload-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #28a745;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #28a745; /* Título verde */
    margin-bottom: 20px;
}

input[type="file"] {
    border: 2px solid #28a745;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#preview {
    margin-top: 20px;
}

.preview-image {
    max-width: 100%;
    max-height: 200px;
    border: 2px solid #28a745;
    border-radius: 10px;
    margin: 10px;
}
